<mat-toolbar color="primary" class="header">
  <a class="logo" routerLink="/" class="logo" mat-button>
    <img src="assets/logo.png" width="150">
  </a>

  <div class="search-box">
    <button mat-icon-button
            class="search-icon"
            type="button">
      <mat-icon>search</mat-icon>
    </button>
    <div class="search-input">
      <mat-form-field class="search-input-field" floatLabel="never">
        <input matInput type="text" placeholder="Search for feeds by text, user or location"/>
      </mat-form-field>
      <button mat-icon-button
              class="search-input-clear"
              type="button">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>


  <span class="fill-remaining-space"></span>
  <mat-form-field floatLabel="never">
    <mat-select placeholder="Select Active User" (selectionChange)="onChange($event)"
                matTooltip="Select an user. This mocks a logged in user.">
      <mat-option *ngFor="let user of userApiService.items | async"
                  [value]="user">
        {{ user.payload.val().name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>


<div class="feed-page">
  <mat-card class="friend-card">
    <mat-card-header class="friend-list">
      <mat-card-title>
        <h3>Friend List</h3>
      </mat-card-title>
      <button mat-icon-button (click)="findNewFriend()">
        <mat-icon matTooltip="Add a friend" color="primary">add</mat-icon>
      </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let f of userApiService.items | async">
          <img matListAvatar matTooltip="{{f?.payload?.val()?.name}}, {{f?.payload?.val()?.location}}"
               src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="test">
          <span class="friend-detail">{{f?.payload?.val()?.name}}, {{f?.payload?.val()?.location}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <div class="feed-content">
    <mat-card class="msg-card">
      <mat-card-content class="msg-input-card-content">
        <div class="msg-input-box">
          <textarea matInput class="input-bk" rows="3"
                    placeholder="Whats in your mind?"
                    [(ngModel)]="statusMessage"
                    (ngModelChange)="isStatusValid()"
                    name="message">
          </textarea>
          <span class="countdown">
            <span *ngIf="statusMessage">{{feedsApiService.maxLength - statusMessage.length}}/</span>
            <span *ngIf="statusMessage">{{feedsApiService.maxLength}}</span>
          </span>
        </div>
        <button mat-button
                class="post-btn"
                color="primary"
                [disabled]="canPostStatus != true"
                (click)="postStatus()">Post
        </button>
      </mat-card-content>
    </mat-card>

    <div class="feed-layout">
      <div class="status-card" *ngFor="let feed of feedsApiService.items | async">
        <feed-box class="feed-box"
                  [feed]="feed.payload.val()"
                  (userActions)="react($event, feed)">
        </feed-box>
      </div>
    </div>
  </div>
</div>


<footer class="event-footer">

  <div class="footer">
    <img class="footer-logo"
         src="assets/logo.png"
         alt="social-feed">

    <div class="right-panel">
      <div class="menu-list">
        <div class="left">
          <mat-list role="list">
            <mat-list-item role="listitem">About</mat-list-item>
            <mat-list-item role="listitem">Contact Us</mat-list-item>
          </mat-list>
        </div>
        <div class="right">
          <mat-list role="list">
            <mat-list-item role="listitem">Support</mat-list-item>
            <mat-list-item role="listitem">Careers</mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="copyright">
        <span>©2018 Social-Feed | a Shiv Kushwaha company.</span>
      </div>
    </div>
  </div>


</footer>
